<!DOCTYPE html>
<head>
  <title>June</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='images/room.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
</head>

<body>
  <div class="room">
    <div class="room-img">
      <div class="room-display">
      <p><span id="current_date"></span></p>
      <p><span id="current_time"></span> ( UTC <span id="timezone"></span>:00 )</p>
      </div>
      <img src="{{ url_for('static', filename='images/room.png') }}"/>
    </div>
    <div class="tools">
      <div class="toolnav">
        <a id="pomodoro-nav" class="active-tool-nav" href="javascript:void(0)" onclick="change_tool('pomodoro')">Pomodoro</a>
        <a id="calendar-nav" href="javascript:void(0)" onclick="change_tool('calendar')">Calendar</a>
        <a id="todo-nav" href="javascript:void(0)" onclick="change_tool('todo')">Todo</a>
        <span id="test"></span>
      </div>
      <embed id="pomodoro-tool" class="tool active-tool" src="{{ url_for('pomodoro') }}" width="100%" height="800px"></embed>
      <embed id="calendar-tool" class="tool" src="{{ url_for('calendar') }}" width="100%" height="800px"></embed>
      <embed id="todo-tool" class="tool" src="{{ url_for('todo') }}" width="100%" height="800px"></embed>
    </div>
    <div class="conversation">
      <embed src="{{ url_for('conversation') }}" width="100%" height="800px"></embed>
    </div>
  </div>
  <script>
    var dt = new Date();
    document.getElementById("current_date").innerHTML = dt.toLocaleDateString();
    document.getElementById("current_time").innerHTML = dt.toLocaleTimeString();
    document.getElementById("timezone").innerHTML = dt.getTimezoneOffset() / 60;
    
    function change_tool(tool_name){
      document.getElementsByClassName('active-tool-nav')[0].classList.remove('active-tool-nav');
      document.getElementById(tool_name + "-nav").classList.add('active-tool-nav');  
      document.getElementsByClassName('active-tool')[0].classList.remove('active-tool');
      document.getElementById(tool_name + "-tool").classList.add('active-tool');
    }
  </script>
</body>
